.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 2px;
    align-items: center;
}

.body {
    margin-left: 80px;
}

.logo {
    width: 50px;
    padding: 10px;
}

.nav-items > ul {
    display: flex;
    padding: 0px 20px;
    font-weight: 200;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    
}

.restaurant-card{
    width: 180px;
    padding: 5px;
    margin : 10px;
    background-color: lightgray;
}

.shimmer-container {
    display:flex;
    flex-wrap: wrap;
    margin-left: 80px;
}

.shimmer-card {
    width: 200px;
    height: 250px;
    margin : 10px;
    background-color: lightgray;
}

.restaurant-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.filter {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    
}

.search {
    margin-right: 150px;
}

.searchButton {
    padding: 10px;
    color: brown;
    background-color: bisque;
    border-radius: 5%;
    cursor: pointer;
    margin-left: 10px;
}

.searchInput {
    padding: 10x;
    height: 30px;
    font-size: medium;
}

.filter-btn {
    padding: 10px;
    color: brown;
    background-color: bisque;
    border-radius: 5%;
    cursor: pointer;
}

.image {
    width: inherit;
    height: 140px;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}

.login-btn {
    padding: 10px;
    color: brown;
    background-color: bisque;
    border-radius: 5%;
    cursor: pointer;
}

.menu-img {
    height: 40px;
    width: 40px
}

.menu-li {
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: black;
}

.user-card {
    border: 1px solid black;
    width: 230px;
    padding: 10px;
    background-color: blanchedalmond;
}

.user-details {
    justify-content: center;
}

.user-details > h2,h3,h4 {
    color: brown;

}
